@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Montserrat:wght@300;500&display=swap');

:root {
  --azul-oscuro: #0b2c4a;
  --azul-mar: #1f4e79;
  --amarillo-sol: #f4b400;
  --naranja-atardecer: #e67e22;
  --arena: #f7f3ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--arena);
  color: var(--azul-oscuro);
}

/* HERO */
.hero {
  background: linear-gradient(
      rgba(11,44,74,0.6),
      rgba(11,44,74,0.6)
    ),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: white;
  padding: 40px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  letter-spacing: 2px;
}

.hero p {
  margin: 15px 0 25px;
  font-size: 1.2rem;
  color: var(--amarillo-sol);
}

.btn {
  background: linear-gradient(
    45deg,
    var(--amarillo-sol),
    var(--naranja-atardecer)
  );
  color: var(--azul-oscuro);
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

/* PLATOS */
.platos {
  padding: 70px 20px;
}

.platos h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.plato {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.plato:hover {
  transform: translateY(-8px);
}

.plato img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.plato h3 {
  padding: 18px;
  text-align: center;
  color: var(--azul-mar);
}

/* RESERVAS */
.reservas {
  background: linear-gradient(
    180deg,
    var(--azul-mar),
    var(--azul-oscuro)
  );
  padding: 70px 20px;
  color: white;
}

.reservas h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

.reservas form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, button {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  background: linear-gradient(
    45deg,
    var(--amarillo-sol),
    var(--naranja-atardecer)
  );
  color: var(--azul-oscuro);
  font-weight: bold;
  cursor: pointer;
}

#mensaje {
  text-align: center;
  margin-top: 15px;
  color: var(--amarillo-sol);
}

/* FOOTER */
footer {
  background-color: var(--azul-oscuro);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
